{% extends 'base.html' %}
{% load static %}
{% block title %}Notifications{% endblock %}

{% block content %}
    <h1>Your Notifications</h1>
    <ul>
        {% for notification in notifications %}
            <li>
                {{ notification.message }}
                <a href="{% url 'mark_as_read' notification.id %}">Mark as read</a>
            </li>
        {% empty %}
            <li>No new notifications</li>
        {% endfor %}
    </ul>
    <script src="{% static 'js/notifications.js' %}"></script>
{% endblock %}